@use '/src/assets/styles/functions.scss' as *;

.leaderboard {
  padding: rem(24px);

  &__leaders {
    margin-top: rem(48px);
  }

  &__empty {
    margin-top: rem(16px);
  }
}

.leaders {
  display: grid;
  grid-gap: rem(24px);
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.leader {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: rem(16px);
  padding: rem(32px) rem(64px);
  background-color: var(--white);
  border: 2px solid var(--primary);

  &__image-box {
    overflow: hidden;
    width: rem(128px);
    height: rem(128px);
    border-radius: 50%;
    border: 3px solid var(--primary);
  }

  &__name {
    font-size: rem(20px);
    margin-top: rem(16px);
  }

  &__score {
    font-weight: 700;
    font-size: rem(20px);
    margin-top: rem(16px);
  }
}
