@use '/src/assets/styles/functions.scss' as *;

.modal-wrapper {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(rem(8px));
  background-color: rgba(217, 217, 217, 0.1);
}

.modal {
  border-radius: rem(16px);
  padding: rem(48px) rem(24px);
  animation: show 0.5s forwards;
  background-color: var(--white);
  box-shadow: 0 rem(2px) rem(4px) rem(2px) rgba(11, 9, 10, 0.04);
}

.modal-enter-active,
.modal-leave-active {
  transition: ease 0.3s all;
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;

  .modal {
    animation: leave 0.5s forwards;
  }
}

@keyframes show {
  from {
    opacity: 0.7;
    margin-top: rem(-160px);
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes leave {
  from {
    opacity: 1;
    margin-top: 0;
  }

  to {
    opacity: 0;
    margin-top: rem(-160px);
  }
}