// Variables
:root {
  --primary: #e5383b;
  --green: #4f772d;
  --red: #ba181b;
  --white: #ffffff;
  --gray-200: #d3d3d3;
  --gray: #161a1d;
  --black: #0b090a;
}

// Reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  direction: rtl;
  line-height: 140%;
  box-sizing: border-box;
  font-family: 'Estedad', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
